# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
.env.*

# datos
**/data/*.json
**/data/*.csv
!**/data/.gitkeep
mock_api/src/data/*
!mock_api/src/data/.gitkeep

# UV (Python package manager)


# dbt
target/
dbt_packages/
logs/
dbt_modules/

# Credenciales
#*.json
#!infra/schemas/*.json
credentials/
secrets/
*.pem
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
